# Core (Py3.11-compatible)
numpy>=1.26.4,<2.0
pandas>=2.2.2,<3.0

# (Optional) AWS SDK if your scripts use it
# boto3>=1.34,<2.0
boto3>=1.34,<2.0
pywin32==306 ; sys_platform == "win32" and python_version < "3.12"

